{% extends 'shop/base.html' %}


{% block title%}
    Change password
{% endblock %}

{% block body %}
    <h1> Change password </h1>
    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Change
        </button>
    </form>
    <div>
        <a href="{% url 'index' %}"> Main page </a>
    </div>
    <div>
        <a href="{% url 'profile' pk=user.pk %}"> Back to profile page </a>
    </div>
{% endblock %}