{% extends 'shop/base.html' %}


{% block title%}
    Profile
{% endblock %}

{% block body %}
    <h1> Profile </h1>
    <form method="post" action="{% url 'profile' pk=user.pk %}" enctype="multipart/form-data">
        {% if user.image %}
            <img src="{{ user.image.url }}" alt="{{ user.image.name }}">
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Save
        </button>
    </form>
    <div>
        <a href="{% url 'index' %}"> Main page </a>
    </div>
    <div>
        <a href="{% url 'change_password' %}"> Change password </a>
    </div>
{% endblock %}