{% extends 'shop/base.html' %}


{% block title %}
    Group delete
{% endblock %}


{% block body %}
    <h1> Group delete </h1>
    <form method="post">
        <h2> Are you sure you want to delete group {{ object.name }}? </h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Delete
        </button>
    </form>
    <div>
        <a href="{% url 'group_details' pk=object.pk %}">
            Back to group details
        </a>
    </div>
{% endblock %}