{% extends 'shop/base.html' %}

{% block title %}
    Products
{% endblock %}

{% block body %}
    <h1> My product list </h1>
    <ul>
        {% for product in products %}
            <p><a href="{% url 'product_details' pk=product.pk %}">
                    {{ forloop.counter }}) Product: {{ product.name }}
                </a></p>
            <ul>
                <li> Price: ${{ product.price }} </li>
            </ul>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'create_product' %}">
            Create new product
        </a>
    </div>
    <div>
        <a href="{% url 'index' %}">
            Back to main page
        </a>
    </div>
{% endblock %}